<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.cygnus.pdu_mobile"
        versionCode="10" 
        version   = "1.2.0">
<icon src="icon.png"></icon>
<gap:splash src="splash.png" />
</widget>
        